@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid white; */
}
.nav-menu {
  @apply flex  z-[1] absolute top-[100%] left-0  p-8 text-center backdrop-blur-md transition-all duration-500 flex-col w-full h-screen;
}

.nav-menu-md {
  @apply md:flex-row md:static md:top-[0] md:w-auto md:text-right md:p-0 md:backdrop-blur-none md:h-auto;
}

